.list-wrapper {
  padding: 14px;

  .p-card {
    max-width: 400px;
    margin-bottom: 10px;
  }

  .mat-card-image {
    height: 15.9rem;
  }

  .price {
    font-size: 14px;
    color: #607D8B;
  }

  .product-description {
    overflow: hidden;
    color: #607D8B;
    font-size: .875rem;
    height: 85px;
    word-wrap: break-word;
  }

  .filter-card {
    margin-bottom: 14px;

    p {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  .product-mail {
    font-size: smaller;
  }

  .searchbox {
    padding: 4px 15px;
    border-radius: 12px;
    border: 1px solid gray;
    min-width: 230px;
  }

  .content {
    justify-content: flex-start !important;
  }

}

.load-more {
  padding: 12px 0px;
}

::ng-deep mat-card-header {
  &.p-header {
    justify-content: space-between;

    .mat-card-header-text {
      margin: 0;
    }

    .mat-card-title {
      font-size: 16px;
      max-width: 175px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.fav-product {
  color: #13c1ac;
}

.non-fav-product {
  color: #bdb4b4;
}